# Visual Studio
.vs/
*.vc.db
*.opendb
*.user
*.suo
*.VC.db
*.VC.opendb
*.ncb
*.sdf
*.cache
*.pdb

# Build
Debug/
Release/
x64/
ipch/
*.obj
*.exe
*.log

# CMake (varsa)
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Diğer
*.aps
*.ilk
*.pch
*.idb
*.class
*.tlog
*.lastbuildstate
*.sbr
*.tmp
*.bak
*.log
*.sdf
*.opensdf
